.section{
    background-color: white;
    margin: 0px;
    border: 1px solid hsl(0, 0%, 83%);
}
.section__header{
    padding: 10px;
    margin: 10px;
    border-bottom: 2px solid #eee;
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    border-bottom: 2px solid #eee;
}
@media(max-width:767px){
    .section__header{
        grid-template-columns: 1fr;
    }
}
.section__header--button{
    border: none;
    background-color: white;
    color: teal;
    transition: 1s;
}
.section__header--button:disabled{
    color: #b3b3b3;
}
.section__header--button:hover{
    color: hsl(180, 100%,35%);
}
.section__buttons{
    display: grid;
    grid-template-columns: auto auto;
}
@media(max-width:767px){
    .section__buttons{
        grid-template-columns: 1fr;
    }
}